*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
body{
  margin: 0;
  background:#62BBC1;
  font-family: sans-serif;
 }
.register{
  width: 95%;
  max-width: 500px;
  margin: auto;
}
.button{
  background: rgb(5, 151, 170);
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}
.button:hover{
  cursor: pointer;
  background: rgb(2, 110, 124);
}
.google{
  background: rgb(240, 240, 240);
  color: #333333;
}
.google:hover{
  background: rgb(216, 216, 216);
}
img{
  vertical-align: middle; 
  margin-right: 10px;
}
 input{
  color: aliceblue;
  background-color: rgba(74, 152, 255, 0);
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255, 0.1);
 }
 .space{
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
 }