*{
  box-sizing: border-box;
  }
body{
  margin: auto;
  font-family: Lato;
  text-align: center;

 }

.login, .register{
  position: absolute;
  height: 100%;
  padding: 25px;
  margin: auto;
  width: 100%;
}
.login{
  background:#62BBC1;
  color:white;
}
.logo{
  margin: 20px 0px 40px
}
.login input{
  color: white;
  background-color: rgba(74, 152, 255, 0);
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255, 0.1);
 }
.login ::placeholder{
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}
#message, #message2{
  display: none;
  color: red;
  margin-bottom: 10px;
}

button, a{
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: Lato;
}
.button img {
  width: 22px;
}
.space{
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
 }

.button{
  background: #1698A0;
  color: white;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  height: 35px;
}
.button:hover{
  cursor: pointer;
  background: rgb(2, 110, 124);
}
.button:focus{
  outline: none;
}
.google{
  background: rgb(240, 240, 240);
  color: #333333;
}
.google:hover{
  background: rgb(216, 216, 216);
}
.pets{
  width: 95%;
  margin-top: 31px
}

.register{
  background-image: url("./imgs/background-register.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: opacity(50%);
  color: white;

}
.register img{
  margin: 50px
}
.register h2{
  text-align: left;
  font-size: 30px
}
.register ::placeholder { 
  font-family: Lato;
  font-size: 18px; 
  color:rgba(255, 255, 255, 0.7);
}

.register input{
  color: white;
  background-color: rgba(74, 152, 255, 0);
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin-top: 40px;

 }
 .register button{
   margin-top: 100px
 }
input:focus{
  outline: none;
}

